span.math {
    font-family: courier-new, serif;
}

.overline {
    text-decoration: overline;
}
p {
    text-align: justify;
}

.caption p {
    text-align: left;
}

img.math {
    display: block;
    margin: 0 auto;
}

img.map {
    width: 90%;
}

table caption {
    font-weight: bold;
}

img.favorite {
    cursor: pointer;
}

#map_canvas {
    height: 500px;
}

.priceRow {
    width: 2em;
}

.addition {
    display: inline;
}

.addition .addition-hover {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 1em;
}